@import 'tailwindcss';
@import "tw-animate-css";

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.696 0.044 243.2);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.94 0.02 260);
  --input: oklch(0.94 0.02 260);
  --ring: oklch(0.511 0.241 264.88);
  --background: oklch(1 0 0);
  --foreground: oklch(55.3% 0.043 254.6);
  --half-gap-width: calc(50% - 12px);
}

@layer utilities {
  .w-half-gap {
    width: var(--half-gap-width);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-slate-600 text-base leading-6 font-inter bg-gradient-to-br from-slate-50 to-blue-50 min-h-screen;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-montserrat;
  }

  .link {
    @apply relative font-medium cursor-pointer transition-colors duration-300 ease-out cursor-pointer hover:text-blue-600 after:content-[''] after:bg-gradient-to-r after:from-transparent after:via-blue-300 after:to-blue-600 after:absolute after:h-[2px] after:w-0 after:bottom-0 after:left-0 hover:after:w-full after:transition-all after:duration-300;
  }

  .link-default {
    @apply text-slate-600;
  }

  .link-secondary {
    @apply text-blue-500;
  }

  .focus-ring {
    @apply focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] outline-none;
  }

  .gradient-cyan {
    @apply bg-gradient-to-r from-blue-600 via-blue-500 to-cyan-500;
  }

  .section-default {
    @apply py-20 bg-slate-50;
  }

  .section-white {
    @apply py-20 bg-white;
  }
}
